.formLogin {
      width: 40%;
      margin: 100px auto;
      border: 1px solid darkgreen;
      border-radius: 5px;
}

.labelLogin {
    padding: 5px 5px;
    color: white;
    background: darkgreen;
    font-weight: bold;
    font-size: 25px;
}

.buttonLogin {
    margin: 10px 15px;
}

.fieldLogin {
    margin: 0px 15px;
}